<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Cadastro de usuário</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<style type="text/css">
form {
	width: 417px;
	font-size: 18px;
	padding: 0px;
}

table {
	width: 417px;
}

.td {
	width: 407px;
}

input[type="text"] {
	width: 400px;
}

input[type="password"] {
	width: 400px;
}
</style>
</head>
<body>
	<div>
		<nav>
			<a class="a">MecaInfo</a>
		</nav>
		<div class="div">
			<form action="#"
				th:action="@{/usuarioSalvar/{id}(id=${usuarios.id})}"
				th:object="${usuarios}">
				<table>
					<tr>
						<td class="td"><a>Editar usuário</a></td>
					</tr>
				</table>
				<table>
					<tr>
						<td><a>Usuário:</a></td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{usuario}" id="usuario"
							name="usuario"></td>
					</tr>
					<tr>
						<td><a>Nome:</a></td>
					</tr>
					<tr>
						<td><input type="text" th:field="*{nome}" id="nome"
							name="nome"></td>
					</tr>
					<tr>
						<td><a>Senha:</a></td>
					</tr>
					<tr>
						<td><input type="password" th:field="*{senha}" id="senha"
							name="senha"></td>
					</tr>
					<tr>
						<td>
							<button type="submit">Salvar</button> <input type="button"
							name="btnVoltar" value="Voltar"
							onclick="window.location.href='/usuarioLista';">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</body>
</html>