<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>Cadastro de mão de obra</title>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<style type="text/css">
form {
	width: 417px;
}

.td {
	width: 407px;
}

input[type="text"] {
	width: 400px;
}

input[type="password"] {
	width: 400px;
}
</style>
</head>
<body>
	<nav>
		<a class="a">MecaInfo</a>
	</nav>
	<div class="div">


		<form action="veiculoMarcaSalvar" method="post">
			<table>
				<tr>
					<td class="td"><a>Cadastro de marca de veiculo</a></td>
				</tr>
			</table>
			<table>
				<tr>
					<td><a>Marca:</a></td>
				</tr>
				<tr>
					<td><input type="text" name="marca"></td>
				</tr>

				<tr th:each="pessoa : ${pessoaL}">
					<td><button type="submit">Salvar</button> <input
						type="button" name="btnVoltar" value="Voltar"
						onclick="window.location.href='@{/pessoaSelecionar/{id}(id=${pessoa.id})}';"></input></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>